<br />
<br />
<br />
<br />
<div class="offset-2 col-9">
    <h1 class="display-4" style="color: white;">¡Bienvenidos a Computación!</h1>
</div>
<br />
<br />
<br />
<div class="offset-4 col-4" style="text-align: center;">
    <img src="~/Content/logo-et12.png" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="offset-4 col-4">
    <a type="button" href="~/Medicion" class="btn btn-outline-dark btn-lg btn-block" >Ver mediciones</a>
</div>

