<div class="offset-4 col-2">

</div>
<div class="offset-1 col-10 parrafo">
    <p>¡Bienvenidos a Informática de 6° Año!</p>
</div>
<div class="row">
    <div class="offset-4 col-2">
        <a href="~/Medicion/Tabla" target="pagina1"><button class="btn">Tabla</button></a>
    </div>
    <div class="col-2">
        <a type="button" href="~/Medicion/Grafico" value=" dasda"/>
    </div>
</div>