<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <title>Arduino</title>

    <link rel="stylesheet" href="~/Content/global.css" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <link href="~/Content/Datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <script src="~/Scripts/Chart.min.js"></script>

    @*<div id="particles-js"></div>*@

    <link rel="stylesheet" media="screen" href="~/Scripts/particlesjs/css/style.css">

</head>
<body>
    <div id="particles-js"></div>
    <div class="container body-content">
        @RenderBody()
    </div>



    <script src="~/Scripts/particlesjs/js/particles.min.js"></script>
    <script type="text/javascript">
        particlesJS.load('particles-js', 'Scripts/particlesjs/particles.json', function () {
            //console.log('callback - particles.js config loaded');
        });
    </script>
    <script src="~/Scripts/particlesjs/js/app.js"></script>
</body>
</html>
