<div class="container">
    <div class="card border-secondary mb-3">
        <div class="card-header">Gráfico</div>
        <div class="card-body text-secondary">
            <canvas id="myChart" width="1000" height="300"></canvas>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        cargarPuntos();
    });

    var ctx = document.getElementById("myChart").getContext('2d');

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["0", "0", "0", "0", "0", "0", "0", "0", "0", "0"],
            datasets: [{
                label: 'N° de Medición',
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    function cargarPuntos() {

        var baseURL = window.location.protocol + "//" + window.location.host + "/";
        //console.log(baseURL);
        var req = $.ajax({
            url: baseURL + 'Medicion/GetUltimaMedicion',
            type: 'GET',
            contentType: 'application/json; context=utf-8'
        });

        req.done(function (data) {
            //console.log(data.Response);
            myChart.data.labels.shift();
            myChart.data.datasets[0].data.shift();
            var value = new Date(parseInt(data.Response.fechaHora.replace(/(^.*\()|([+-].*$)/g, '')));
            myChart.data.labels.push(value.toLocaleTimeString());
            myChart.data.datasets[0].data.push(data.Response.valor);
            myChart.update();
            setTimeout(cargarPuntos, 1000);
        });
    }

</script>
